.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
*.rds

incubator/
data/data_raw/*
data/data_output/*

data/data_carpentry/.ipynb_checkpoints/*

data/data_carpentry/ee-error-log.txt

ee-remote-sensing-resistance/rsr-heterogeneity-check.js
ee-remote-sensing-resistance/rsr-export-images.js

figs/neighborhood_size_example_with_landsat_pixel.pptx

docs/manuscript/*.docx
docs/manuscript/cover-letter/*
docs/manuscript/submissions/*

docs/manuscript/drafts/*
docs/manuscript/feedback/*

docs/manuscript/recent-pubs-by-coauthors

docs/docs_carpentry/ecology-letters.csl
