.Rproj.user
.Rhistory
.RData
.Ruserdata
data/features/landcover_LANDFIRE/*
data/features/fire_return_interval_departure/*
data/data_output/landcover_PFR/mixed_conifer/*
data/features/fire_perim/veg_severity_perimeters16_1.gdb/*
data/features/fire_perim/fire_perim_16_1.gdb/*
data/features/fire_perim/fire_perim_sn_16_1_shp/*
data/features/fire_perim/fire_perim_shp/*
data/features/fire_perim/fire17_1*
*.DS_Store
figs/neighborhood_size_example_with_landsat_pixel.pptx
data/ee_fire-images/american-fire_2013_visualize.tif
data/ee_fire-images/hamm-fire_1987_visualize.tif
data/ee_fire-images/*
data/ee_fire-samples/*
manuscript/feedback
*.rds
data/data_carpentry/.ipynb_checkpoints/*
data/data_carpentry/ee-error-log.txt
ee-remote-sensing-resistance/rsr-heterogeneity-check.js
ee-remote-sensing-resistance/rsr-export-images.js