.Rproj.user
.Rhistory
.RData
.Ruserdata
data/features/landcover_LANDFIRE/*
data/features/fire_return_interval_departure/*
data/features/landcover_PFR/*
data/features/fire_perim/fire_perim_16_1.gdb/*
data/features/fire_perim/fire_perim_sn_16_1_shp/*
data/features/fire_perim/fire_perim_shp/*
*.DS_Store
data/fire_samples/fires-strat-samples_1-month-window_L57_none-interp.geojson
figs/neighborhood_size_example_with_landsat_pixel.pptx
